<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>TYPO3Buddy</title>
<link rel="stylesheet" type="text/css" href="css/main.css" media="all" />
</head>
<body>
 <div id="container">
  <div id="container_header_bg">
   <div id="container_header_top">
    <div id="header_top">
     <div id="header_top_left">
      <a href="/"><img src="images/logo.png" /></a>
     </div><!-- header_top_left -->
     <div id="header_top_right">
      <p>Header top right</p>
     </div><!-- header_top_right -->
     <div class="clearer"></div>
    </div>
   </div><!-- container_header_top -->
   <div id="header_mobile">
    <img src="/fileadmin/templates/images/mobile-menu_white.png" id="mobile_menu" alt="menu" title="menu" />
   </div>
   <div id="container_header_menu">
    <div id="header_menu">
     <div class="menu_header menu_ul">
      <ul>
       <li>
        <div class="menu_header_no"><a href="/">Home</a></div>
       </li>
       <li>
        <div class="menu_header_actifsub"><a href="/">New page</a></div>
        <ul class="menu_sub">
         <li><div class="menu_sub_no"><a href="/" target="_top">Sub 1</a></div></li>
         <li><div class="menu_sub_no"><a href="/" target="_top">Sub 2</a></div></li>
        </ul>
       </li>
       <li>
        <div class="menu_header_ifsub"><a href="/">Other page</a></div>
        <ul class="menu_sub">
         <li><div class="menu_sub_no"><a href="/" target="_top">Sub 1</a></div></li>
         <li><div class="menu_sub_no"><a href="/" target="_top">Sub 2</a></div></li>
         <li><div class="menu_sub_act"><a href="/" target="_top">Sub 3</a></div></li>
        </ul>
       </li>
      </ul>
     </div>
    </div><!-- header_menu -->
   </div><!-- container_header_menu -->
  </div><!-- container_header_bg -->
  <div id="container_header_image">
   <div id="header_image">
    <!-- header image -->
   </div><!-- header_image -->
  </div><!-- container_header_image -->
  <div id="container_breadcrumb">
   <div id="breadcrumb">
    <div class="menu_breadcrumb menu_ul">
     <ul>
      <li><a href="/">TYPO3Buddy</a></li>
      <li>&gt;</li>
      <li><a href="/">Setup the basics</a></li>
     </ul>
    </div>
   </div><!-- breadcrumb -->
  </div><!-- container_breadcrumb -->
  <div id="container_content">
   <div id="content">
    <div id="content_menu">
     <div class="menu_left menu_ul">
      <div class="menu_1">
       <ul>
        <li>
         <a href="/">Home</a>
        </li>
        <li>
         <div class="menu_act"><a href="/">Other page</a></div>
         <div class="menu_2">
          <ul>
           <li>
            <a href="/">Sub page 1</a>
           </li>
           <li>
            <a href="/">Sub page 2</a>
           </li>
           <li>
            <a href="/">Add content to the home page</a>
           </li>
          </ul>
         </div>
        </li>
        <li>
         <a href="/">Another page</a>
        </li>
       </ul>
      </div>
     </div>
    </div>
    <div id="content_main">
     <h1>Main content</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
     <!-- flexible content block start -->
     <div class="content_2column_container">
      <div class="content_column_left">
       text left
      </div>
      <div class="content_column_right">
       text right
      </div>
      <div class="clearer"></div>
     </div> <!-- content_2column_container -->
     <!-- flexible content block end -->
    </div>
    <div class="clearer"></div>
   </div>
  </div><!-- container_content -->
  <div id="container_footer">
   <div id="footer">
    <div id="footer_left">
     <div class="menu_footer menu_ul">
      <ul>
       <li>&copy; 2011 TYPO3Buddy</li>
       <li>&#124;</li>
       <li><a href="/">Home</a></li>
       <li>&#124;</li>
       <li><a href="/">Disclaimer</a></li>
      </ul>
     </div>
    </div><!-- footer_left -->
    <div id="footer_right">
     <p>Footer right</p>
    </div><!-- footer_right -->
    <div class="clearer"></div>
   </div>
  </div><!-- container_footer -->
 </div><!-- container -->
 <div id="typo3buddy">
  Constructed with <a href="http://typo3buddy.com">TYPO3Buddy.com</a>
 </div>
</body>
</html>